In [ ]:
#--------------------------
# 문제 정의
#--------------------------
# 주어진 제품 및 매장 특성들을(X값, 컬럼) 기반으로 판매 금액(Item_Outlet_Sales)을 예측하기

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
# train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/train.csv")
# test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/test.csv")

In [ ]:
#--------------------------
# EDA
#--------------------------

In [13]:
train.head()
train.tail()
train.sample(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
6749,FDC50,15.85,Low Fat,0.228470,Canned,93.3094,OUT010,1998,NaN,Tier 3,Grocery Store,285.6282
6192,FDO58,NaN,Low Fat,0.039386,Snack Foods,164.8526,OUT027,1985,Medium,Tier 3,Supermarket Type3,2631.2416
314,FDI28,14.30,Low Fat,0.026363,Frozen Foods,78.3302,OUT049,1999,Medium,Tier 1,Supermarket Type1,1267.6832
3609,FDK10,NaN,Regular,0.040163,Snack Foods,181.1660,OUT027,1985,Medium,Tier 3,Supermarket Type3,3415.5540
3561,FDT21,7.42,Low Fat,0.020388,Snack Foods,247.1092,OUT035,2004,Small,Tier 2,Supermarket Type1,4233.1564

In [8]:
train.shape, test.shape

((6818, 12), (1705, 11))

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6818 non-null   object
 1   Item_Weight                5656 non-null   float64
 2   Item_Fat_Content           6818 non-null   object
 3   Item_Visibility            6818 non-null   float64
 4   Item_Type                  6818 non-null   object
 5   Item_MRP                   6818 non-null   float64
 6   Outlet_Identifier          6818 non-null   object
 7   Outlet_Establishment_Year  6818 non-null   int64
 8   Outlet_Size                4878 non-null   object
 9   Outlet_Location_Type       6818 non-null   object
 10  Outlet_Type                6818 non-null   object
 11  Item_Outlet_Sales          6818 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 639.3+ KB

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1705 non-null   object
 1   Item_Weight                1404 non-null   float64
 2   Item_Fat_Content           1705 non-null   object
 3   Item_Visibility            1705 non-null   float64
 4   Item_Type                  1705 non-null   object
 5   Item_MRP                   1705 non-null   float64
 6   Outlet_Identifier          1705 non-null   object
 7   Outlet_Establishment_Year  1705 non-null   int64
 8   Outlet_Size                1235 non-null   object
 9   Outlet_Location_Type       1705 non-null   object
 10  Outlet_Type                1705 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 146.7+ KB

In [14]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,5656.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,12.872703,0.066121,140.419533,1997.885890,2190.941459
std,4.651034,0.051383,62.067861,8.339795,1706.131256
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026914,93.610050,1987.000000,836.577700
50%,12.600000,0.053799,142.448300,1999.000000,1806.648300
75%,17.000000,0.095273,185.060150,2004.000000,3115.944000
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [17]:
test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  1404.000000      1705.000000  1705.000000                1705.000000
mean     12.796984         0.066174   143.285107                1997.615836
std       4.613957         0.052465    63.063146                   8.497423
min       4.555000         0.000000    31.955800                1985.000000
25%       8.710000         0.027571    94.743600                1987.000000
50%      12.600000         0.054234   144.512800                1999.000000
75%      16.700000         0.092927   187.755600                2004.000000
max      21.350000         0.311090   266.888400                2009.000000

In [18]:
train.describe(include='O')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,6818,6818,6818,6818,4878,6818,6818
unique,1554,5,16,10,3,3,4
top,FDW26,Low Fat,Snack Foods,OUT046,Medium,Tier 3,Supermarket Type1
freq,9,4092,963,763,2228,2664,4474

In [22]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1162
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1940
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [24]:
test.isnull().sum()

Item_Identifier                0
Item_Weight                  301
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  470
Outlet_Location_Type           0
Outlet_Type                    0
dtype: int64

In [25]:
train.isnull().sum().sum()

3102

In [26]:
test.isnull().sum().sum()

771

In [27]:
#--------------------------
# 데이터 전처리
#--------------------------

In [2]:
#y값 분할
target=train.pop('Item_Outlet_Sales')
target

0        639.1680
1        990.7104
2       2799.6890
3       1176.4686
4       3418.8830
          ...
6813    3615.2940
6814     923.4646
6815    2530.7058
6816     818.9340
6817    1973.4312
Name: Item_Outlet_Sales, Length: 6818, dtype: float64

In [3]:
# 결측값 채우기(무게 : 최소값, 사이즈 : 평균값)
train['Item_Weight']=train['Item_Weight'].fillna(train['Item_Weight'].min())
train['Outlet_Size']=train['Outlet_Size'].fillna(train['Outlet_Size'].mode()[0])

test['Item_Weight']=test['Item_Weight'].fillna(test['Item_Weight'].min())
test['Outlet_Size']=test['Outlet_Size'].fillna(test['Outlet_Size'].mode()[0])

train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6818 non-null   object
 1   Item_Weight                6818 non-null   float64
 2   Item_Fat_Content           6818 non-null   object
 3   Item_Visibility            6818 non-null   float64
 4   Item_Type                  6818 non-null   object
 5   Item_MRP                   6818 non-null   float64
 6   Outlet_Identifier          6818 non-null   object
 7   Outlet_Establishment_Year  6818 non-null   int64
 8   Outlet_Size                6818 non-null   object
 9   Outlet_Location_Type       6818 non-null   object
 10  Outlet_Type                6818 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 586.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1705 non-null   object
 1   Item_Weight                1705 non-null   float64
 2   Item_Fat_Content           1705 non-null   object
 3   Item_Visibility            1705 non-null   float64
 4   Item_Type                  1705 non-null   object
 5   Item_MRP                   1705 non-null   float64
 6   Outlet_Identifier          1705 non-null   object
 7   Outlet_Establishment_Year  1705 non-null   int64
 8   Outlet_Size                1705 non-null   object
 9   Outlet_Location_Type       1705 non-null   object
 10  Outlet_Type                1705 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 146.7+ KB

In [5]:
train.describe()

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year
count,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,776.557788,11.455107,0.066121,140.419533,1997.885890
std,447.077597,5.265718,0.051383,62.067861,8.339795
min,0.000000,4.555000,0.000000,31.290000,1985.000000
25%,396.000000,6.690000,0.026914,93.610050,1987.000000
50%,776.000000,11.000000,0.053799,142.448300,1999.000000
75%,1163.000000,16.100000,0.095273,185.060150,2004.000000
max,1553.000000,21.350000,0.328391,266.888400,2009.000000

In [6]:
# 컬럼제거

In [9]:
train.drop('Item_Identifier',axis=1, inplace=True)
test.drop('Item_Identifier',axis=1, inplace=True)

In [10]:
# 레이블 인코딩
from sklearn.preprocessing import LabelEncoder

cols=train.columns[train.dtypes==object]

for col in cols:
    le = LabelEncoder()
    le.fit(pd.concat([train[col],test[col]],axis=0)) # 행 합치기
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])

In [14]:
#---------------------------------
# 검증 데이터 분할 train - val (8,2)
#---------------------------------

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((5454, 10), (1364, 10), (5454,), (1364,))

In [16]:
#---------------------------------
# 학습 및 평가(MSE, MAE, R2...
#---------------------------------

In [17]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression() # 모델 가져오기
lr.fit(X_train, y_train) # 학습
y_pred = lr.predict(X_val) # 예측
y_pred

array([3006.53001011, 1386.35244112, 1610.9644381 , ..., 2265.01933974,
       4071.18108208, 3489.44301098])

In [20]:
# 평가
from sklearn.metrics import mean_squared_error # MSE(평균 제곱 오차)
from sklearn.metrics import mean_absolute_error # MAE(평균 절대 오차)
from sklearn.metrics import root_mean_squared_error #RMSE(제곱 평균 오차 루트)
from sklearn.metrics import r2_score #R2Score(결정계수)

lr_mse = mean_squared_error(y_val, y_pred)
lr_mae = mean_absolute_error(y_val, y_pred)
lr_rmse = root_mean_squared_error(y_val, y_pred)
lr_r2 = r2_score(y_val, y_pred)

print("MSE : ",lr_mse) # 오차를 제곱해 평균을 낸 값 - 값 클수록 예측이 실제와 다름
print("MAE : ",lr_mae) # 오차를 절대값으로 계산 - 값 클수록 예측이 실제와 다름
print("RMSE : ",lr_rmse) # 
print("R2 : ",lr_r2) # 

# MSE / MAE / RMSE 상대적인 기준
# 평균적으로 Y 평균값에 10% 이하 : 준수한 성능
# 평균적으로 Y 평균값에 10-30% : 보통
# 평균적으로 Y 평균값에 30%이상 : 낮은 성능
# 시험점수(0-100) 예측 -> RMSE = 10 - 문제
# 아파트가격(30평 - 평균 5억) 예측 -> RMSE=1000만원(2%) -> 오차작음(괜찮은 모델)

# R2(결정계수)
#0.7 이상 : 좋은모델
#0.5 - 0.7 : 보통
#0.3 - 0.5 : 낮은모델

MSE :  1258220.3398377183
MAE :  858.9613052108202
RMSE :  1121.7042122759985
R2 :  0.5153323554636462

In [21]:
# LIGHTGBM

In [ ]:
import lightgbm as lgb
model = lgb.LGBMRegressor(random_state=0, verbose=-1)
model.fit(X_train, y_train)
y_pred_2 = model.predict(X_val)