In [1]:
# 판다스 라이브러리
import pandas as pd

# 데이터 불러오기
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')
train

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165029,165029,15667085,Meng,667,Spain,Female,33.0,2,0.00,1,1.0,1.0,131834.75,0
165030,165030,15665521,Okechukwu,792,France,Male,35.0,3,0.00,1,0.0,0.0,131834.45,0
165031,165031,15664752,Hsia,565,France,Male,31.0,5,0.00,1,1.0,1.0,127429.56,0
165032,165032,15689614,Hsiung,554,Spain,Female,30.0,7,161533.00,1,0.0,1.0,71173.03,0
165033,165033,15732798,Ulyanov,850,France,Male,31.0,1,0.00,1,1.0,0.0,61581.79,1

In [4]:
test

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,15662091,P'eng,570,Spain,Male,29.0,7,116099.82,1,1.0,1.0,148087.62
110019,275053,15774133,Cox,575,France,Female,36.0,4,178032.53,1,1.0,1.0,42181.68
110020,275054,15728456,Ch'iu,712,France,Male,31.0,2,0.00,2,1.0,0.0,16287.38
110021,275055,15687541,Yegorova,709,France,Female,32.0,3,0.00,1,1.0,1.0,158816.58
110022,275056,15663942,Tuan,621,France,Female,37.0,7,87848.39,1,1.0,0.0,24210.56

In [2]:
#---------------------------------------
# EDA
#---------------------------------------
# 데이터 샘플
train.head(5)
train.tail(5)
train.sample(5)
# # 데이터 크기
train.shape, test.shape
# # 자료형 (타입)
train.info()
# # 수치형 컬럼 통계값 확인(train)
train.describe()
# # 수치형 컬럼 통계값 확인(test)
test.describe()
# # 범주형 컬럼 통계값 확인 (train)
train.describe(include='O')
# # 범주형 컬럼 통계값 확인 (test)
test.describe(include='object')
# # # 결측치 (train)
train.isnull().sum()
# # # 결측치 (test)
test.isnull().sum()
# # # label(target)별 개수 확인
train['Exited'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               165034 non-null  int64
 1   CustomerId       165034 non-null  int64
 2   Surname          165034 non-null  object
 3   CreditScore      165034 non-null  int64
 4   Geography        165034 non-null  object
 5   Gender           165034 non-null  object
 6   Age              165034 non-null  float64
 7   Tenure           165034 non-null  int64
 8   Balance          165034 non-null  float64
 9   NumOfProducts    165034 non-null  int64
 10  HasCrCard        165034 non-null  float64
 11  IsActiveMember   165034 non-null  float64
 12  EstimatedSalary  165034 non-null  float64
 13  Exited           165034 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 17.6+ MB

Exited
0    130113
1     34921
Name: count, dtype: int64

In [7]:
#---------------------
# 인코딩[범주형 -> 수치형]
#---------------------
# 라벨(정답,y값) 분리
#y_train = train.pop("Exited")
train.shape, test.shape

# 레이블 인코딩
from sklearn.preprocessing import LabelEncoder

cols=train.columns[train.dtypes==object]

for col in cols:
    le = LabelEncoder()
    le.fit(pd.concat([train[col],test[col]],axis=0)) # 행 합치기
    train[col] = le.fit_transform(train[col])
    test[col] = le.transform(test[col])

In [26]:
train
test

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,0,0,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,0,0,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,0,0,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,0,1,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,1,1,38.0,10,121263.62,1,1.0,0.0,139431.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,15662091,P'eng,570,2,1,29.0,7,116099.82,1,1.0,1.0,148087.62
110019,275053,15774133,Cox,575,0,0,36.0,4,178032.53,1,1.0,1.0,42181.68
110020,275054,15728456,Ch'iu,712,0,1,31.0,2,0.00,2,1.0,0.0,16287.38
110021,275055,15687541,Yegorova,709,0,0,32.0,3,0.00,1,1.0,1.0,158816.58
110022,275056,15663942,Tuan,621,0,0,37.0,7,87848.39,1,1.0,0.0,24210.56

In [8]:
# y 인코딩
y_train.value_counts()

Exited
0    130113
1     34921
Name: count, dtype: int64

In [9]:
#---------------------------------------
# 검증 데이터 분할
#---------------------------------------
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(train,
                                                  y_train,
                                                  test_size=0.2,
                                                  random_state=0)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((132027, 13), (33007, 13), (132027,), (33007,))

In [10]:
# 랜덤포레스트
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0)
rf.fit(X_train, y_train)
pred1=rf.predict_proba(X_val)
pred1_label=rf.predict(X_val)

# LightGBM
import lightgbm as lgb
lgbmc = lgb.LGBMClassifier(random_state=0, verbose=-1)
lgbmc.fit(X_train, y_train)
pred2 = lgbmc.predict_proba(X_val)
pred2_label=lgbmc.predict(X_val)

In [18]:
print(pred1[:,1])
print()
print(pred2[:,1])

[0.11 0.21 0.75 ... 0.28 0.05 0.36]

[0.06442807 0.14527317 0.68723293 ... 0.23911734 0.02022277 0.30957594]

In [15]:
#---------------------------------------
# 성능 평가
#---------------------------------------
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val, pred1[:,1])
print('roc_auc:', roc_auc)

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_val, pred1_label)
print('accuracy_score:', accuracy)

from sklearn.metrics import f1_score
f1 = f1_score(y_val, pred1_label, pos_label=1)
print('f1_score:', f1)

roc_auc: 0.8801525772952798
accuracy_score: 0.8627260884054897
f1_score: 0.6168935486598461

In [16]:
#---------------------------------------
# LightGBM 성능 평가
#---------------------------------------
from sklearn.metrics import roc_auc_score
roc_auc_lgm = roc_auc_score(y_val, pred2[:,1])
print('roc_auc:', roc_auc_lgm)

from sklearn.metrics import accuracy_score
accuracy_lgm = accuracy_score(y_val, pred2_label)
print('accuracy_score:', accuracy_lgm)

from sklearn.metrics import f1_score
f1_lgm = f1_score(y_val, pred2_label, pos_label=1)
print('f1_score:', f1_lgm)

roc_auc: 0.8902162094130004
accuracy_score: 0.8665434604780804
f1_score: 0.6366410954384228

In [22]:
#---------------------------------------
# 파일로 저장
#---------------------------------------
pred = lgbmc.predict_proba(test)
pred

# lgbmc.classes_

# submit = pd.DataFrame({'pred':pred[:,1]})
# submit.to_csv("result.csv", index=False)

# pd.read_csv("result.csv")

[LightGBM] [Fatal] The number of features in data (12) is not the same as it was in training data (13).
You can set ``predict_disable_shape_check=true`` to discard this error, but please be aware what you are doing.

LightGBMError: The number of features in data (12) is not the same as it was in training data (13).
You can set ``predict_disable_shape_check=true`` to discard this error, but please be aware what you are doing.