In [1]:
import pandas as pd

data = {
    "메뉴": ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'],
    "가격": [4500.0, 5000.0, 5500.0, 5000.0, 4000.0, 5900.0, 5300.0],   # float
    "칼로리": ['10', '110', '250', '110', '20', '210', '0']             # 문자열
}
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      float64
 2   칼로리     7 non-null      object
dtypes: float64(1), object(2)
memory usage: 300.0+ bytes

In [2]:
df['가격'] = df['가격'].astype('int')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int64
 2   칼로리     7 non-null      object
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes

In [4]:
df['칼로리'] = df['칼로리'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      7 non-null      object
 1   가격      7 non-null      int64
 2   칼로리     7 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 300.0+ bytes

In [5]:
import pandas as pd

data = {
    "메뉴": ['아메리카노', '카페라떼', '카페모카'],
    "가격": [4500.0, 5000.0, 5500.0],
    "칼로리": ['10', '110', '250']
}
df = pd.DataFrame(data)

In [10]:
df["가격"]=df["가격"].astype("int64")
df["칼로리"]=df["칼로리"].astype("float64")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      3 non-null      object
 1   가격      3 non-null      int64
 2   칼로리     3 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 204.0+ bytes

In [11]:
df_date = pd.DataFrame({
    "날짜": ["2025-01-01", "2025-02-01", "2025-03-01"],
    "매출": [1000, 1500, 2000]
})

In [16]:
df_date["날짜"]=pd.to_datetime(df_date["날짜"])
df_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      3 non-null      datetime64[ns]
 1   매출      3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 180.0 bytes

In [17]:
df_cat = pd.DataFrame({
    "이름": ["철수","영희","민수","지현"],
    "성별": ["M","F","M","F"]
})

In [19]:
df_cat["성별"]=df_cat["성별"].astype("category")
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      4 non-null      object
 1   성별      4 non-null      category
dtypes: category(1), object(1)
memory usage: 292.0+ bytes

In [20]:
df_score = pd.DataFrame({
    "이름": ["하늘","도윤","서연"],
    "점수": [80, 95, 100]
})

In [21]:
df_score["점수"]=df_score["점수"].astype("float64")
df_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   점수      3 non-null      float64
dtypes: float64(1), object(1)
memory usage: 180.0+ bytes