In [1]:
# ---------------------
# 판다스 라이브러리
# ---------------------
import pandas as pd

train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")

In [2]:
# ---------------------
# EDA
# ---------------------
train.shape, test.shape

((20758, 18), (13840, 17))

In [4]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              20758 non-null  int64
 1   Gender                          20758 non-null  object
 2   Age                             20758 non-null  float64
 3   Height                          20758 non-null  float64
 4   Weight                          20758 non-null  float64
 5   family_history_with_overweight  20758 non-null  object
 6   FAVC                            20758 non-null  object
 7   FCVC                            20758 non-null  float64
 8   NCP                             20758 non-null  float64
 9   CAEC                            20758 non-null  object
 10  SMOKE                           20758 non-null  object
 11  CH2O                            20758 non-null  float64
 12  SCC                             20758 non-null  object
 13  FAF                             20758 non-null  float64
 14  TUE                             20758 non-null  float64
 15  CALC                            20758 non-null  object
 16  MTRANS                          20758 non-null  object
 17  NObeyesdad                      20758 non-null  object
dtypes: float64(8), int64(1), object(9)
memory usage: 2.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13840 entries, 0 to 13839
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              13840 non-null  int64
 1   Gender                          13840 non-null  object
 2   Age                             13840 non-null  float64
 3   Height                          13840 non-null  float64
 4   Weight                          13840 non-null  float64
 5   family_history_with_overweight  13840 non-null  object
 6   FAVC                            13840 non-null  object
 7   FCVC                            13840 non-null  float64
 8   NCP                             13840 non-null  float64
 9   CAEC                            13840 non-null  object
 10  SMOKE                           13840 non-null  object
 11  CH2O                            13840 non-null  float64
 12  SCC                             13840 non-null  object
 13  FAF                             13840 non-null  float64
 14  TUE                             13840 non-null  float64
 15  CALC                            13840 non-null  object
 16  MTRANS                          13840 non-null  object
dtypes: float64(8), int64(1), object(8)
memory usage: 1.8+ MB

In [6]:
train.isnull().sum()
test.isnull().sum()

id                                0
Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
dtype: int64

In [7]:
train.describe(include='O')

,Gender,family_history_with_overweight,FAVC,CAEC,SMOKE,SCC,CALC,MTRANS,NObeyesdad
count,20758,20758,20758,20758,20758,20758,20758,20758,20758
unique,2,2,2,4,2,2,3,5,7
top,Female,yes,yes,Sometimes,no,no,Sometimes,Public_Transportation,Obesity_Type_III
freq,10422,17014,18982,17529,20513,20071,15066,16687,4046

In [8]:
train[['NObeyesdad']].value_counts()

NObeyesdad
Obesity_Type_III       4046
Obesity_Type_II        3248
Normal_Weight          3082
Obesity_Type_I         2910
Insufficient_Weight    2523
Overweight_Level_II    2522
Overweight_Level_I     2427
Name: count, dtype: int64

In [ ]:
# ---------------------
# 데이터 전처리
# ---------------------
# 이상치, 결측치 생략

In [2]:
# id 컬럼 제거
train = train.drop(columns=['id'])
test = test.drop(columns=['id'])

In [3]:
# y값 분리
target = train.pop("NObeyesdad")
target = target.astype('category')
target.info()

<class 'pandas.core.series.Series'>
RangeIndex: 20758 entries, 0 to 20757
Series name: NObeyesdad
Non-Null Count  Dtype
--------------  -----
20758 non-null  category
dtypes: category(1)
memory usage: 20.7 KB

In [4]:
train.info()
train['Gender']=train['Gender'].astype('category')
train['family_history_with_overweight']=train['family_history_with_overweight'].astype('category')
train['FAVC']=train['FAVC'].astype('category')
train['CAEC']=train['CAEC'].astype('category')
train['SMOKE']=train['SMOKE'].astype('category')
train['SCC']=train['SCC'].astype('category')
train['CALC']=train['CALC'].astype('category')
train['MTRANS']=train['MTRANS'].astype('category')

test['Gender']=test['Gender'].astype('category')
test['family_history_with_overweight']=test['family_history_with_overweight'].astype('category')
test['FAVC']=test['FAVC'].astype('category')
test['CAEC']=test['CAEC'].astype('category')
test['SMOKE']=test['SMOKE'].astype('category')
test['SCC']=test['SCC'].astype('category')
test['CALC']=test['CALC'].astype('category')
test['MTRANS']=test['MTRANS'].astype('category')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20758 entries, 0 to 20757
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          20758 non-null  object
 1   Age                             20758 non-null  float64
 2   Height                          20758 non-null  float64
 3   Weight                          20758 non-null  float64
 4   family_history_with_overweight  20758 non-null  object
 5   FAVC                            20758 non-null  object
 6   FCVC                            20758 non-null  float64
 7   NCP                             20758 non-null  float64
 8   CAEC                            20758 non-null  object
 9   SMOKE                           20758 non-null  object
 10  CH2O                            20758 non-null  float64
 11  SCC                             20758 non-null  object
 12  FAF                             20758 non-null  float64
 13  TUE                             20758 non-null  float64
 14  CALC                            20758 non-null  object
 15  MTRANS                          20758 non-null  object
dtypes: float64(8), object(8)
memory usage: 2.5+ MB

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val=train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((16606, 16), (4152, 16), (16606,), (4152,))

In [7]:
# 학습
import lightgbm as lgb
lgbmc = lgb.LGBMClassifier(random_state=0, verbose=-1)
lgbmc.fit(X_train, y_train)
# 검증
pred = lgbmc.predict(X_val) # 예측 y 값
pred_proba = lgbmc.predict_proba(X_val) # 예측 확률값

# vervose : 학습 과정 출력 여부(-1 : 출력 안함)
# 0: 경고 수준출력, 1: 일반정보 출력, >1: 자세한 정보 출력

In [9]:
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score

roc_auc_ovr = roc_auc_score(y_val, pred_proba, multi_class='ovr') # pred 예측 확률값 [y_val - 오답예측확률, pred_proba - 정답예측확률]
roc_auc_ovo = roc_auc_score(y_val, pred_proba, multi_class='ovo') # pred 예측 확률값 [y_val - 오답예측확률, pred_proba - 정답예측확률]
accuracy = accuracy_score(y_val, pred) # pred 예측 y 값
f1 = f1_score(y_val, pred, average='macro') # pred 예측 y 값 (클래스별(1,2,3정답값) 성능을 동등하게 반영할때 사용)

print('roc_auc_ovr : ', roc_auc_ovr)
print('roc_auc_ovo : ', roc_auc_ovo)
print('accuracy : ', accuracy)
print('f1 : ', f1)

# OvR(One-vs-Rest) : 각 클래스 vs 나머지 -> 평균
# OvO(One-vs-One) : 클래스 쌍별 AUC 평균

roc_auc_ovr :  0.9888169248146651
roc_auc_ovo :  0.9874571729788963
accuracy :  0.9051059730250481
f1 :  0.8949765427420396

In [10]:
# ---------------------
# 예측 파일 제출(.csv)
# ---------------------
pred_submit=lgbmc.predict(test)
pred_submit

submit_csv=pd.DataFrame({'pred':pred_submit})
submit_csv.to_csv("result.csv",index=False)